.ExchangeConnectionForm {
  width: 25rem;
  margin: auto;
  margin-bottom: 1.5rem;
  border: 1px solid #edf2f9;
  border-color: #edf2f9;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  padding: 1rem;
  min-width: 0;
}
